.careers-link {
    position: relative;
    display: inline-block;
    padding-left: 0; /* Start with no padding */
    overflow: hidden;
    transition: padding-left 0.3s ease; /* Animate padding change */
}

.arrow, .careers-link-text {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.arrow {
    width: 0;
    transform: translateX(-20px); /* Start off-screen to the left */
    opacity: 0; /* Initially hidden */
}

.careers-link:hover {
    /*padding-left: 20px; !* Add padding on hover *!*/
}

.careers-link:hover .arrow {
    transform: translateX(0px); /* Slide in from the left */
    opacity: 1; /* Show on hover */
}

.careers-link:hover .careers-link-text {
    transform: translateX(20px); /* Slide text to the right */
}
