footer * {
    transition: all 800ms ease-in-out;
}

.signup-link {
    position: relative;
    padding-left: 0; /* Start with no padding */
    overflow: hidden;
    transition: padding-left 0.3s ease; /* Animate padding change */
}

.arrow, .link-text {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.arrow {
    width: 0;
    transform: translateX(-60px); /* Start off-screen to the left */
    opacity: 0; /* Initially hidden */
}

.signup-link:hover input, .signup-link input:hover, .signup-link > input:focus, .signup-link > input:active {
    transition: all 2000ms ease-in-out;
    width: 100%;
    border-bottom: 1px solid white;
}

.signup-link:hover .arrow {
    transform: translateX(20px); /* Slide in from the left */
    opacity: 1; /* Show on hover */
}

.signup-link:hover .link-text {
    transform: translateX(10px); /* Slide text to the right */
}

@media (max-width: 768px) {
    .signup-link:hover .link-text {
        transform: translateX(40px); /* Slide text to the right on small screens */
    }
}


.footer-link {
    position: relative;
    padding-left: 0; /* Start with no padding */
    overflow: hidden;
    transition: padding-left 0.3s ease; /* Animate padding change */
}

.footer-arrow, .footer-link-text {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.footer-arrow {
    width: 0;
    transform: translateX(-60px); /* Start off-screen to the left */
    opacity: 0; /* Initially hidden */
}

.footer-link:hover .footer-arrow {
    transform: translateX(0px); /* Slide in from the left */
    opacity: 1; /* Show on hover */
}

.footer-link:hover .footer-link-text {
    transform: translateX(25px); /* Keep text in place */
}


/*scroll in credits hover*/
.credits-container {
    position: relative;
    overflow: hidden;
    width: 100%
}

.credits-text, .new-credits-text {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease;
}

.credits-container:hover .credits-text {
    transform: translateY(-100%);
}

.credits-container:hover .new-credits-text {
    transform: translateY(0);
}

.new-credits-text {
    transform: translateY(100%);
}
