footer * {
    transition: all 800ms ease-in-out;
}

.signup-link {
    position: relative;
    padding-left: 0; /* Start with no padding */
    overflow: hidden;
    transition: padding-left 0.3s ease; /* Animate padding change */
}

.arrow, .arrow-right, .link-text {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.arrow {
    width: 0;
    transform: translateX(-30px); /* Start off-screen to the left */
    opacity: 0; /* Initially hidden */
}

.arrow-right {
    width: 0;
    transform: translateX(30px); /* Start off-screen to the left */
    opacity: 0; /* Initially hidden */
}

.signup-link:hover {
    /*padding-left: 20px; !* Add padding on hover *!*/
}

.signup-link:hover .arrow {
    transform: translateX(3px); /* Slide in from the left */
    opacity: 1; /* Show on hover */
}

.signup-link:hover .arrow-right {
    transform: translateX(-20px); /* Slide in from the right */
    opacity: 1; /* Show on hover */
}

.signup-link:hover .link-text {
    transform: translateX(10px); /* Slide text to the right */
}

@media (max-width: 768px) {
    .signup-link:hover .link-text {
        transform: translateX(40px); /* Slide text to the right on small screens */
    }
}
