@media (min-width: 768px) {
    .cta-link {
        position: relative;
        display: inline-block;
        padding-left: 0; /* Start with no padding */
        overflow: hidden;
        transition: padding-left 0.3s ease; /* Animate padding change */
    }

    .full-cta-arrow, .cta-link-text {
        display: inline-block;
        transition: transform 0.5s ease, opacity 0.3s ease;
    }

    .cta-link-text {
        margin-left: 0;
    }

    .full-cta-arrow {
        width: 0;
        transform: translateX(-10px); /* Start off-screen to the left */
        opacity: 0; /* Initially hidden */
    }

    .cta-link:hover {
        /*padding-left: 20px; !* Add padding on hover *!*/
    }

    .cta-link:hover .full-cta-arrow {
        transform: translateX(0px); /* Slide in from the left */
        opacity: 1; /* Show on hover */
    }

    .cta-link:hover .cta-link-text {
        transform: translateX(30px); /* Slide text to the right */
    }
}
