.circle {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 0;
    height: 0;
    background-color: #EFEEE8;
    border-radius: 50%;
    opacity: 0;
}
.circle.animate {
    opacity: 1;
    animation: expandCircle 3s forwards;
    transition: opacity 2s ease
}

.circle.reverse {
    opacity: 0;
    transition: opacity 2s ease;
    transition-delay: .5s;
    animation: contractCircle 1.5s forwards;
}

@keyframes expandCircle {
    0% {
        width: 0;
        height: 0;
        top: 37px;
        right: 46px;
    }
    100% {
        width: 400vh;
        height: 400vh;
        top: -150vh;
        right: -150vh;
    }
}

@keyframes contractCircle {
    0% {
        width: 400vh;
        height: 400vh;
        top: -150vh;
        right: -150vh;
    }
    100% {
        width: 0;
        height: 0;
        top: 37px;
        right: 46px;
    }
}

.menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    transition-delay: 0s;
}

.menu.show {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

@media (min-width: 1024px) { /* Adjust the min-width value as needed for large screens */
    .menu.show {
        transition-delay: 1s; /* Delay for large screens */
    }
}

.menu.hide {
    opacity: 0;
    transition: opacity .5s ease, visibility .5s ease;
    visibility: hidden;
}

body.no-scroll {
    overflow: hidden;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-left: 0; /* Start with no padding */
    overflow: hidden;
    transition: padding-left 0.3s ease; /* Animate padding change */
}

.arrow, .link-text {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.arrow {
    width: 0;
    transform: translateX(-30px); /* Start off-screen to the left */
    opacity: 0; /* Initially hidden */
}

.nav-link:hover {
    /*padding-left: 20px; !* Add padding on hover *!*/
}

.nav-link:hover .arrow {
    transform: translateX(3px); /* Slide in from the left */
    opacity: 1; /* Show on hover */
}

.nav-link:hover .link-text {
    transform: translateX(40px); /* Slide text to the right */
}
